<div class="col-12 p-5 bg-success">
    <div class="row text-white text-center">
        <h1>PASSED</h1>
    </div>
</div>

<div class="col-12 p-5 bg-danger">
    <div class="row text-white text-center">
        <h1>FAILED</h1>
    </div>
</div>